html, body, #root, .App {
  height: 100%;
}

.index-card {
  display: block;
  margin: 4px;

  a {
    text-decoration: none;
    display: table-cell;
    overflow-wrap: break-word;
    width: 200px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
  }
}